h1 {
	margin-bottom: spacer(0.5, size("xxl"));
	font-weight: normal;
	@include font-size(size("xxl"), 1.3);
}

h2 {
	margin-bottom: spacer(0.5, size("xl"));
	font-weight: normal;
	@include font-size(size("xl"), 1.3);
}

h3 {
	margin-bottom: spacer(1, size("l"));
	font-weight: normal;
	@include font-size(size("l"));
}
