blockquote {
	font-family: Georgia, serif;
	font-style: italic;
	quotes: "\201C""\201D""\2018""\2019";
	&::before {
		content: open-quote;
		margin-right: 0.25em;
		font-size: 4em;
		line-height: 0.1em;
		vertical-align: -0.4em;
	}
	&::after {
		content: close-quote;
		visibility: hidden;
	}
	p {
		display: inline;
	}
}

cite {
	display: block;
	text-align: right;
	@include font-size(size("s"));
}
