/*------------------------------------*\
    #ALIASES
\*------------------------------------*/

$spacing-unit: $inuit-global-spacing-unit;
$spacing-unit--tiny: $inuit-global-spacing-unit-tiny;
$spacing-unit--small: $inuit-global-spacing-unit-small;
$spacing-unit--big: $inuit-global-spacing-unit * 1.5;
$spacing-unit--large: $inuit-global-spacing-unit-large;
$spacing-unit--huge: round($inuit-global-spacing-unit * 3);

@mixin font-size($inuit-font-size, $inuit-line-height: auto) {
	@include inuit-font-size($inuit-font-size, $inuit-line-height);
}
