.animated {
	opacity: 1;
	animation: fadeInUp 0.5s;
	animation-fill-mode: both;
}

.u-animation-delay {
	&-0 {
		animation-delay: 0s;
	}

	&-1 {
		animation-delay: 0.2s;
	}

	&-2 {
		animation-delay: 0.4s;
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translate3d(0, 60px, 0);
	}

	50% {
		opacity: 0.5;
	}

	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
